body {
	font-family: 'Merriweather', serif;
	text-align: center;
	color:white;

	background-color:#DAC27C;
}

h3 {
	font-size:70px;
	margin-bottom:10px;
}

p {
	font-size:50px;
	margin-top: 30px;
}

#footer {
	font-size: 12px;

}